html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 60px;
    font-weight: 5px;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
}

#level {
    font-size: 20px;
    top: 15%;
    display: none;
}

#title {
    top: 45%;
}

#maintitle {
    display: none;
    font-size: 40px;
}

#info {
    font-size: 15px;
    bottom:90%;
    height: 0%;
    display: none;
}

#combo {
    left: 35%;
    top: 10%;
    display: none;
}